{% extends 'blog/base.html' %} {% block body_block %}
<p class="text-black my-5">
  You must have heard the term “blog” or “weblog” and you’re probably thinking
  “what is a blog and what’s it all about?” Let’s make this clear, when I was in
  college, a lot of people talked about “blogs” and “blogging”, but back then I
  never knew exactly what it was, never mind how to go about creating a blog or
  knowing which were the best blog hosting sites! I had absolutely no idea…
  Fortunately, I’ve now published and managed many different blogs, so I can
  truly say I know what blogging is (check out our free blogging course at the
  button on the top of the page if you want help starting one).
</p>
<p class="text-black">Thanks for visiting my Site ):</p>
{% endblock %}
